In [16]:
import pandas as pd

In [44]:
# read in csv file with glassdoor data collected from webscraper
df = pd.read_csv("glassdoor_jobs.csv")

In [45]:
# split company_name into company and rating a columns
df[["company", "rating"]] = df["company_name"].str.split("\n", expand=True)
df.drop(columns="company_name", inplace=True)
df = df.iloc[:, [10, 11, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]]
df

,company,rating,location,job_title,salary,salary_range,size,founded,type_of_ownership,industry,sector,revenue
0,Veneficus,4.2,Rotterdam,Data Analist,€ 3.850 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 5K,1 tot 50 werknemers,1998,Privébedrijf,Uitgeverijen,Media en communicatie,Onbekend/niet van toepassing
1,Veneficus,4.2,Rotterdam,Data Analist,€ 3.850 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 5K,1 tot 50 werknemers,1998,Privébedrijf,Uitgeverijen,Media en communicatie,Onbekend/niet van toepassing
2,Breinstein Detachering,4.4,Amsterdam,Junior Data Engineer,€ 3.600 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 5K,51 tot 200 werknemers,2010,Privébedrijf,HR-advies,HR en personeel,Onbekend/niet van toepassing
3,Centric,3.9,IJsselstein,Data Scientist,€ 4.250 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 6K,1001 tot 5000 werknemers,1992,Privébedrijf,IT-ondersteuning,IT,100-500 miljoen USD
4,NaN,NaN,NaN,NaN,NaN,€ 3K - € 5K (Schatting werkgever),NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
95,Breinstein Detachering,4.4,Amsterdam,Junior Data Analist,€ 2.700 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K,51 tot 200 werknemers,2010,Privébedrijf,HR-advies,HR en personeel,Onbekend/niet van toepassing
96,it-8,3.0,Den Bosch,Data Analist,€ 3.650 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 5K,1 tot 50 werknemers,Zelfstandige,Onbekend/niet van toepassing,NaN,NaN,NaN
97,BrightStone Group,3.9,Amsterdam,Data analist,€ 2.600 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K,51 tot 200 werknemers,2013,Beursgenoteerd bedrijf,Business consulting,Management en consulting,Onbekend/niet van toepassing
98,Matchpartner,4.3,Den Haag,Data analist,€ 4.000 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 5K,51 tot 200 werknemers,2002,Privébedrijf,HR-advies,HR en personeel,Onbekend/niet van toepassing
99,StarApple,4.6,Den Haag,Business Intelligence engineer,€ 4.000 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 5K,51 tot 200 werknemers,2008,Privébedrijf,Business consulting,Management en consulting,25-100 miljoen USD

In [46]:
# remove rows with empty values
df = df.dropna()
df

,company,rating,location,job_title,salary,salary_range,size,founded,type_of_ownership,industry,sector,revenue
0,Veneficus,4.2,Rotterdam,Data Analist,€ 3.850 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 5K,1 tot 50 werknemers,1998,Privébedrijf,Uitgeverijen,Media en communicatie,Onbekend/niet van toepassing
1,Veneficus,4.2,Rotterdam,Data Analist,€ 3.850 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 5K,1 tot 50 werknemers,1998,Privébedrijf,Uitgeverijen,Media en communicatie,Onbekend/niet van toepassing
2,Breinstein Detachering,4.4,Amsterdam,Junior Data Engineer,€ 3.600 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 5K,51 tot 200 werknemers,2010,Privébedrijf,HR-advies,HR en personeel,Onbekend/niet van toepassing
3,Centric,3.9,IJsselstein,Data Scientist,€ 4.250 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 6K,1001 tot 5000 werknemers,1992,Privébedrijf,IT-ondersteuning,IT,100-500 miljoen USD
7,Working talent,4.7,Nederland,Data Science traineeship,€ 2.900 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K,51 tot 200 werknemers,2017,Privébedrijf,IT-ondersteuning,IT,Onbekend/niet van toepassing
8,a.s.r.,4.2,Utrecht,Datawarehouse Ontwikkelaar en Data Analist Ver...,€ 5.550 /mnd (schatting),Salaris opgegeven door werknemer:€ 5K - € 7K,1001 tot 5000 werknemers,1720,Privébedrijf,Verzekeringsmaatschappijen,Verzekeringen,Minder dan 1 miljoen USD
9,BrightStone Group,3.9,Utrecht,Junior Data Analist,€ 3.100 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 3K,51 tot 200 werknemers,2013,Beursgenoteerd bedrijf,Business consulting,Management en consulting,Onbekend/niet van toepassing
11,ICT Group,3.6,Eindhoven,Data Science Product Owner (Cognitive) Search,"€ 29,00 /uur (schatting)","Salaris opgegeven door werknemer:€ 29,00 Per uur",1001 tot 5000 werknemers,1978,Zelfstandige,IT-ondersteuning,IT,100-500 miljoen USD
12,BrightStone Group,3.9,Utrecht,Data Scientist,€ 2.600 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K,51 tot 200 werknemers,2013,Beursgenoteerd bedrijf,Business consulting,Management en consulting,Onbekend/niet van toepassing
15,BrightStone Group,3.9,Utrecht,Data analist,€ 2.600 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K,51 tot 200 werknemers,2013,Beursgenoteerd bedrijf,Business consulting,Management en consulting,Onbekend/niet van toepassing
17,Mploy Associates,4.9,Utrecht,Data Engineer | Talent Program,€ 3.525 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 4K,51 tot 200 werknemers,2018,Privébedrijf,Business consulting,Management en consulting,Onbekend/niet van toepassing
21,Kamer van Koophandel,4.2,Utrecht,Data Analist Waardevol Klantcontact,€ 4.669 /mnd (schatting),Salaris opgegeven door werknemer:€ 4K - € 6K,1001 tot 5000 werknemers,1803,Non-profitorganisatie,Regionaal bestuur,Openbaar bestuur,Onbekend/niet van toepassing
24,Experis,3.6,Den Haag,Python Developer / Data Scientist,€ 3.650 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 5K,5001 tot 10000 werknemers,1953,Dochteronderneming of bedrijfssegment,HR-advies,HR en personeel,25-100 miljoen USD
29,Experis,4.1,Den Haag,Python Developer / Data Scientist,€ 3.650 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 5K,10000+ medewerkers,1948,Dochteronderneming of bedrijfssegment,HR-advies,HR en personeel,Meer dan 10 miljard USD
30,House of Bèta,4.4,Den Bosch,Traineeship Data Science,€ 2.726 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K,201 tot 500 werknemers,2019,Beursgenoteerd bedrijf,IT-ondersteuning,IT,Onbekend/niet van toepassing
31,ASML,4.1,Veldhoven,Technical Graduate Program – Data Analyst & Bu...,"€ 40,00 /uur (schatting)","Salaris opgegeven door werknemer:€ 40,00 Per uur",10000+ medewerkers,1984,Beursgenoteerd bedrijf,Elektronica-industrie,Industrie,Meer dan 10 miljard USD
33,Matchpartner,4.3,Den Haag,Data analist,€ 4.000 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 5K,51 tot 200 werknemers,2002,Privébedrijf,HR-advies,HR en personeel,Onbekend/niet van toepassing
34,BrightStone Group,3.9,Utrecht,Data engineer,€ 2.600 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K,51 tot 200 werknemers,2013,Beursgenoteerd bedrijf,Business consulting,Management en consulting,Onbekend/niet van toepassing
36,Louwman Group,3.7,Amersfoort,Data Engineer,€ 3.250 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 4K,1001 tot 5000 werknemers,1923,Privébedrijf,Verkoop van voertuigen,Retail en handel,$1 tot $5 miljard (USD)
40,Mploy Associates,4.9,Utrecht,Business Analyst | Talent Program,€ 3.525 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 4K,51 tot 200 werknemers,2018,Privébedrijf,Business consulting,Management en consulting,Onbekend/niet van toepassing
44,Undutchables,4.6,Breda,Associate Data Analytics,€ 3.900 /mnd (schatting),Salaris opgegeven door werknemer:€ 4K,1 tot 50 werknemers,1996,Privébedrijf,HR-advies,HR en personeel,Onbekend/niet van toepassing
53,Aegon,3.6,Den Haag,Internship Analytics & Data Science,"€ 12,50 /uur (schatting)","Salaris opgegeven door werknemer:€ 12,50 Per uur",10000+ medewerkers,1844,Beursgenoteerd bedrijf,Verzekeringsmaatschappijen,Verzekeringen,Meer dan 10 miljard USD
61,House of Bèta,4.4,Den Bosch,Traineeship Data Science,€ 2.726 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K,201 tot 500 werknemers,2019,Beursgenoteerd bedrijf,IT-ondersteuning,IT,Onbekend/niet van toepassing
63,ASML,4.1,Veldhoven,Technical Graduate Program – Data Analyst & Bu...,"€ 40,00 /uur (schatting)","Salaris opgegeven door werknemer:€ 40,00 Per uur",10000+ medewerkers,1984,Beursgenoteerd bedrijf,Elektronica-industrie,Industrie,Meer dan 10 miljard USD
65,Matchpartner,4.3,Den Haag,Data analist,€ 4.000 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 5K,51 tot 200 werknemers,2002,Privébedrijf,HR-advies,HR en personeel,Onbekend/niet van toepassing
66,Breinstein Detachering,4.4,Groningen,Junior Data Analist,€ 2.700 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K,51 tot 200 werknemers,2010,Privébedrijf,HR-advies,HR en personeel,Onbekend/niet van toepassing
68,Louwman Group,3.7,Amersfoort,Data Engineer,€ 3.250 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 4K,1001 tot 5000 werknemers,1923,Privébedrijf,Verkoop van voertuigen,Retail en handel,$1 tot $5 miljard (USD)
72,Mploy Associates,4.9,Utrecht,Business Analyst | Talent Program,€ 3.525 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 4K,51 tot 200 werknemers,2018,Privébedrijf,Business consulting,Management en consulting,Onbekend/niet van toepassing
77,Unique,4.3,Middelburg,Data scientist,€ 4.961 /mnd (schatting),Salaris opgegeven door werknemer:€ 4K - € 6K,201 tot 500 werknemers,1972,Beursgenoteerd bedrijf,Gebouw en personeelsservices,Management en consulting,100-500 miljoen USD
78,Undutchables,4.6,Breda,Associate Data Analytics,€ 3.900 /mnd (schatting),Salaris opgegeven door werknemer:€ 4K,1 tot 50 werknemers,1996,Privébedrijf,HR-advies,HR en personeel,Onbekend/niet van toepassing
83,Aegon,3.6,Den Haag,Junior Data Analist,€ 3.275 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 4K,10000+ medewerkers,1844,Beursgenoteerd bedrijf,Verzekeringsmaatschappijen,Verzekeringen,Meer dan 10 miljard USD
85,NATO - OTAN,4.1,Brunssum,Temporary Senior Analyst (Data Science) - NATO...,€ 8.212 /mnd (schatting),Salaris opgegeven door werknemer:€ 8K,1001 tot 5000 werknemers,1949,Privébedrijf,Ledenorganisaties,Management en consulting,Onbekend/niet van toepassing
90,ABN AMRO,3.9,Amersfoort,Data Analist Intelligence Led Financial Crime ...,€ 4.800 /mnd (schatting),Salaris opgegeven door werknemer:€ 4K - € 6K,10000+ medewerkers,1991,Overheid,Banken en kredietverstrekking,Finance,5-10 miljard USD
91,ASML,4.1,Veldhoven,Technical Graduate Program – Data Analyst & Bu...,"€ 40,00 /uur (schatting)","Salaris opgegeven door werknemer:€ 40,00 Per uur",10000+ medewerkers,1984,Beursgenoteerd bedrijf,Elektronica-industrie,Industrie,Meer dan 10 miljard USD
93,BMC,3.8,Amersfoort,Data analist in publieke sector,€ 4.000 /mnd (schatting),Salaris opgegeven door werknemer:€ 4K,1001 tot 5000 werknemers,1986,Beursgenoteerd bedrijf,Meubel- en huishoudwinkels,Retail en handel,$1 tot $5 miljard (USD)
95,Breinstein Detachering,4.4,Amsterdam,Junior Data Analist,€ 2.700 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K,51 tot 200 werknemers,2010,Privébedrijf,HR-advies,HR en personeel,Onbekend/niet van toepassing
97,BrightStone Group,3.9,Amsterdam,Data analist,€ 2.600 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K,51 tot 200 werknemers,2013,Beursgenoteerd bedrijf,Business consulting,Management en consulting,Onbekend/niet van toepassing
98,Matchpartner,4.3,Den Haag,Data analist,€ 4.000 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 5K,51 tot 200 werknemers,2002,Privébedrijf,HR-advies,HR en personeel,Onbekend/niet van toepassing
99,StarApple,4.6,Den Haag,Business Intelligence engineer,€ 4.000 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 5K,51 tot 200 werknemers,2008,Privébedrijf,Business consulting,Management en consulting,25-100 miljoen USD

In [48]:
salary_by_employee = df["salary_range"].map(lambda x: x.split(":")[1])
salary_by_employee_blank = salary_by_employee.map(lambda x: x.replace("€", "").replace("K",""))
salary_by_employee_blank

0             3 -  5
1             3 -  5
2             3 -  5
3             3 -  6
7                  3
8             5 -  7
9             3 -  3
11     29,00 Per uur
12                 3
15                 3
17            3 -  4
21            4 -  6
24            3 -  5
29            3 -  5
30                 3
31     40,00 Per uur
33            3 -  5
34                 3
36            3 -  4
40            3 -  4
44                 4
53     12,50 Per uur
61                 3
63     40,00 Per uur
65            3 -  5
66                 3
68            3 -  4
72            3 -  4
77            4 -  6
78                 4
83            3 -  4
85                 8
90            4 -  6
91     40,00 Per uur
93                 4
95                 3
97                 3
98            3 -  5
99            3 -  5
Name: salary_range, dtype: object

In [52]:
df["hourly"] = df["salary_range"].map(lambda x: 1 if "per uur" in x.lower() else 0)
df

/var/folders/jg/1ck3yxvn1sn72cwsg5c615740000gn/T/ipykernel_42493/1236819558.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["hourly"] = df["salary_range"].map(lambda x: 1 if "per uur" in x.lower() else 0)

,company,rating,location,job_title,salary,salary_range,size,founded,type_of_ownership,industry,sector,revenue,hourly
0,Veneficus,4.2,Rotterdam,Data Analist,€ 3.850 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 5K,1 tot 50 werknemers,1998,Privébedrijf,Uitgeverijen,Media en communicatie,Onbekend/niet van toepassing,0
1,Veneficus,4.2,Rotterdam,Data Analist,€ 3.850 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 5K,1 tot 50 werknemers,1998,Privébedrijf,Uitgeverijen,Media en communicatie,Onbekend/niet van toepassing,0
2,Breinstein Detachering,4.4,Amsterdam,Junior Data Engineer,€ 3.600 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 5K,51 tot 200 werknemers,2010,Privébedrijf,HR-advies,HR en personeel,Onbekend/niet van toepassing,0
3,Centric,3.9,IJsselstein,Data Scientist,€ 4.250 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 6K,1001 tot 5000 werknemers,1992,Privébedrijf,IT-ondersteuning,IT,100-500 miljoen USD,0
7,Working talent,4.7,Nederland,Data Science traineeship,€ 2.900 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K,51 tot 200 werknemers,2017,Privébedrijf,IT-ondersteuning,IT,Onbekend/niet van toepassing,0
8,a.s.r.,4.2,Utrecht,Datawarehouse Ontwikkelaar en Data Analist Ver...,€ 5.550 /mnd (schatting),Salaris opgegeven door werknemer:€ 5K - € 7K,1001 tot 5000 werknemers,1720,Privébedrijf,Verzekeringsmaatschappijen,Verzekeringen,Minder dan 1 miljoen USD,0
9,BrightStone Group,3.9,Utrecht,Junior Data Analist,€ 3.100 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 3K,51 tot 200 werknemers,2013,Beursgenoteerd bedrijf,Business consulting,Management en consulting,Onbekend/niet van toepassing,0
11,ICT Group,3.6,Eindhoven,Data Science Product Owner (Cognitive) Search,"€ 29,00 /uur (schatting)","Salaris opgegeven door werknemer:€ 29,00 Per uur",1001 tot 5000 werknemers,1978,Zelfstandige,IT-ondersteuning,IT,100-500 miljoen USD,1
12,BrightStone Group,3.9,Utrecht,Data Scientist,€ 2.600 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K,51 tot 200 werknemers,2013,Beursgenoteerd bedrijf,Business consulting,Management en consulting,Onbekend/niet van toepassing,0
15,BrightStone Group,3.9,Utrecht,Data analist,€ 2.600 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K,51 tot 200 werknemers,2013,Beursgenoteerd bedrijf,Business consulting,Management en consulting,Onbekend/niet van toepassing,0
17,Mploy Associates,4.9,Utrecht,Data Engineer | Talent Program,€ 3.525 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 4K,51 tot 200 werknemers,2018,Privébedrijf,Business consulting,Management en consulting,Onbekend/niet van toepassing,0
21,Kamer van Koophandel,4.2,Utrecht,Data Analist Waardevol Klantcontact,€ 4.669 /mnd (schatting),Salaris opgegeven door werknemer:€ 4K - € 6K,1001 tot 5000 werknemers,1803,Non-profitorganisatie,Regionaal bestuur,Openbaar bestuur,Onbekend/niet van toepassing,0
24,Experis,3.6,Den Haag,Python Developer / Data Scientist,€ 3.650 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 5K,5001 tot 10000 werknemers,1953,Dochteronderneming of bedrijfssegment,HR-advies,HR en personeel,25-100 miljoen USD,0
29,Experis,4.1,Den Haag,Python Developer / Data Scientist,€ 3.650 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 5K,10000+ medewerkers,1948,Dochteronderneming of bedrijfssegment,HR-advies,HR en personeel,Meer dan 10 miljard USD,0
30,House of Bèta,4.4,Den Bosch,Traineeship Data Science,€ 2.726 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K,201 tot 500 werknemers,2019,Beursgenoteerd bedrijf,IT-ondersteuning,IT,Onbekend/niet van toepassing,0
31,ASML,4.1,Veldhoven,Technical Graduate Program – Data Analyst & Bu...,"€ 40,00 /uur (schatting)","Salaris opgegeven door werknemer:€ 40,00 Per uur",10000+ medewerkers,1984,Beursgenoteerd bedrijf,Elektronica-industrie,Industrie,Meer dan 10 miljard USD,1
33,Matchpartner,4.3,Den Haag,Data analist,€ 4.000 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 5K,51 tot 200 werknemers,2002,Privébedrijf,HR-advies,HR en personeel,Onbekend/niet van toepassing,0
34,BrightStone Group,3.9,Utrecht,Data engineer,€ 2.600 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K,51 tot 200 werknemers,2013,Beursgenoteerd bedrijf,Business consulting,Management en consulting,Onbekend/niet van toepassing,0
36,Louwman Group,3.7,Amersfoort,Data Engineer,€ 3.250 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 4K,1001 tot 5000 werknemers,1923,Privébedrijf,Verkoop van voertuigen,Retail en handel,$1 tot $5 miljard (USD),0
40,Mploy Associates,4.9,Utrecht,Business Analyst | Talent Program,€ 3.525 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 4K,51 tot 200 werknemers,2018,Privébedrijf,Business consulting,Management en consulting,Onbekend/niet van toepassing,0
44,Undutchables,4.6,Breda,Associate Data Analytics,€ 3.900 /mnd (schatting),Salaris opgegeven door werknemer:€ 4K,1 tot 50 werknemers,1996,Privébedrijf,HR-advies,HR en personeel,Onbekend/niet van toepassing,0
53,Aegon,3.6,Den Haag,Internship Analytics & Data Science,"€ 12,50 /uur (schatting)","Salaris opgegeven door werknemer:€ 12,50 Per uur",10000+ medewerkers,1844,Beursgenoteerd bedrijf,Verzekeringsmaatschappijen,Verzekeringen,Meer dan 10 miljard USD,1
61,House of Bèta,4.4,Den Bosch,Traineeship Data Science,€ 2.726 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K,201 tot 500 werknemers,2019,Beursgenoteerd bedrijf,IT-ondersteuning,IT,Onbekend/niet van toepassing,0
63,ASML,4.1,Veldhoven,Technical Graduate Program – Data Analyst & Bu...,"€ 40,00 /uur (schatting)","Salaris opgegeven door werknemer:€ 40,00 Per uur",10000+ medewerkers,1984,Beursgenoteerd bedrijf,Elektronica-industrie,Industrie,Meer dan 10 miljard USD,1
65,Matchpartner,4.3,Den Haag,Data analist,€ 4.000 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 5K,51 tot 200 werknemers,2002,Privébedrijf,HR-advies,HR en personeel,Onbekend/niet van toepassing,0
66,Breinstein Detachering,4.4,Groningen,Junior Data Analist,€ 2.700 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K,51 tot 200 werknemers,2010,Privébedrijf,HR-advies,HR en personeel,Onbekend/niet van toepassing,0
68,Louwman Group,3.7,Amersfoort,Data Engineer,€ 3.250 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 4K,1001 tot 5000 werknemers,1923,Privébedrijf,Verkoop van voertuigen,Retail en handel,$1 tot $5 miljard (USD),0
72,Mploy Associates,4.9,Utrecht,Business Analyst | Talent Program,€ 3.525 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 4K,51 tot 200 werknemers,2018,Privébedrijf,Business consulting,Management en consulting,Onbekend/niet van toepassing,0
77,Unique,4.3,Middelburg,Data scientist,€ 4.961 /mnd (schatting),Salaris opgegeven door werknemer:€ 4K - € 6K,201 tot 500 werknemers,1972,Beursgenoteerd bedrijf,Gebouw en personeelsservices,Management en consulting,100-500 miljoen USD,0
78,Undutchables,4.6,Breda,Associate Data Analytics,€ 3.900 /mnd (schatting),Salaris opgegeven door werknemer:€ 4K,1 tot 50 werknemers,1996,Privébedrijf,HR-advies,HR en personeel,Onbekend/niet van toepassing,0
83,Aegon,3.6,Den Haag,Junior Data Analist,€ 3.275 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 4K,10000+ medewerkers,1844,Beursgenoteerd bedrijf,Verzekeringsmaatschappijen,Verzekeringen,Meer dan 10 miljard USD,0
85,NATO - OTAN,4.1,Brunssum,Temporary Senior Analyst (Data Science) - NATO...,€ 8.212 /mnd (schatting),Salaris opgegeven door werknemer:€ 8K,1001 tot 5000 werknemers,1949,Privébedrijf,Ledenorganisaties,Management en consulting,Onbekend/niet van toepassing,0
90,ABN AMRO,3.9,Amersfoort,Data Analist Intelligence Led Financial Crime ...,€ 4.800 /mnd (schatting),Salaris opgegeven door werknemer:€ 4K - € 6K,10000+ medewerkers,1991,Overheid,Banken en kredietverstrekking,Finance,5-10 miljard USD,0
91,ASML,4.1,Veldhoven,Technical Graduate Program – Data Analyst & Bu...,"€ 40,00 /uur (schatting)","Salaris opgegeven door werknemer:€ 40,00 Per uur",10000+ medewerkers,1984,Beursgenoteerd bedrijf,Elektronica-industrie,Industrie,Meer dan 10 miljard USD,1
93,BMC,3.8,Amersfoort,Data analist in publieke sector,€ 4.000 /mnd (schatting),Salaris opgegeven door werknemer:€ 4K,1001 tot 5000 werknemers,1986,Beursgenoteerd bedrijf,Meubel- en huishoudwinkels,Retail en handel,$1 tot $5 miljard (USD),0
95,Breinstein Detachering,4.4,Amsterdam,Junior Data Analist,€ 2.700 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K,51 tot 200 werknemers,2010,Privébedrijf,HR-advies,HR en personeel,Onbekend/niet van toepassing,0
97,BrightStone Group,3.9,Amsterdam,Data analist,€ 2.600 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K,51 tot 200 werknemers,2013,Beursgenoteerd bedrijf,Business consulting,Management en consulting,Onbekend/niet van toepassing,0
98,Matchpartner,4.3,Den Haag,Data analist,€ 4.000 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 5K,51 tot 200 werknemers,2002,Privébedrijf,HR-advies,HR en personeel,Onbekend/niet van toepassing,0
99,StarApple,4.6,Den Haag,Business Intelligence engineer,€ 4.000 /mnd (schatting),Salaris opgegeven door werknemer:€ 3K - € 5K,51 tot 200 werknemers,2008,Privébedrijf,Business consulting,Management en consulting,25-100 miljoen USD,0